form-select{
    display:block;
    width:100%;
    padding:.375rem 2.25rem .375rem .75rem;
    -moz-padding-start:calc(0.75rem - 3px);
    font-size:1rem;font-weight:400;
    line-height:1.5;
    color:#212529;
    background-color:#fff;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");background-repeat:no-repeat;
    background-position:right .75rem center;
    background-size:16px 12px;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
    @media (prefers-reduced-motion:reduce){
        .form-select{
            transition:none
        }
    }
    .form-select:focus{
        border-color:#86b7fe;
        outline:0;
        box-shadow:0 0 0 .25rem rgba(13,110,253,.25)
    }


/* -----------------------------------*/


    html, body{
        margin: 0;
        padding: 0;
    }
    
    body{
        width: 100%;
        height: 100%;
        font-family: sans-serif;
        letter-spacing: 0.03em;
        line-height: 1.6;
        font-family: 'Open Sans', sans-serif;
    }
    
    .title{
        text-align: center;
        font-size: 40px;
        color: #6a6a6a;
        margin-top: 100px;
        font-weight: 100;
        font-family: 'Roboto', sans-serif;
    }
    
/*     
    .container{
        width: 100%;
        max-width: 1200px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
    } */
    
    /* .container .card{
        max-width: 330px;
        height: 430px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
    } */
    
    /* .card:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    } */
    
    /* .container .card img{
        width: 330px;
        height: 220px;
    }
    
    
     h3{
        font-weight: 600;
        max-width: 310px;
    } */
    
    /* .container .card p{
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    } */
    
    /* .container .card link {
        font-weight: 500;
        text-decoration: none;
        color: #3498db;
    } */

    /* .bottomView {
        width: 100%;
        height: 100;
        background-color: #EE5407;
        justify-content: center;
        align-items: center;
        position: absolute; 
        bottom: 0 
      } 
      */