
/* body {
    background: #1d1d1f;
} */

/* 
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: white;
} */

div.foto {
    width: 100%;
    height: auto
}

div.foto img {
    width: 600px;
    /* text-align: justify; */
    border-radius: 4px;
    
}

div.resumen {

    color: white;
    width: 100%;    
    padding: 20px;
    border-radius: 4px;
    margin: 30px 0;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 16px;
}

    /* & select {
        padding: 8px;
        font-size: 15px;
        border-radius: 4px;
    }
    & button {
        width: 50%;
        background: #1f53c5;
        border: none;
        border-radius: 4px;
        color: white;
        margin: 0 0 0 16px;
        font-size: 16px;
        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
    & input {
        border-radius: 4px
    } */


    /* width: 60%;
    height: auto;
    /* background: #888e94; */
    /* border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    transition: all 0.25s;
    font-size: 1.5em; */ 

/* 
div.resumen2 {
    width: 100%;
    height: auto;
    max-height: 300px; */
    /* background: #888e94;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    transition: all 0.25s;
    font-size: 1.5em;
} */
/* 
div.twoBoxes {
    margin-top: 4em;
    display:flex;
    justify-content: space-evenly;
} */

/* div.twoBoxes ul {
    list-style-type: none;
}

ul.resumen, div.otraCaja {
    background: #4f4f5d;
    border-radius: 30px;
}

div.otraCaja {
    
    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    transition: all 0.25s;
    font-size: 1.3em;
} */